<div id="<%= dom_id siteid %>">
  <p>
    <strong>Site id:</strong>
    <%= siteid.site_ID %>
  </p>

  <p>
    <strong>Site region:</strong>
    <%= siteid.site_Region %>
  </p>

  <p>
    <strong>Site country:</strong>
    <%= siteid.site_Country %>
  </p>

  <p>
    <strong>Site town:</strong>
    <%= siteid.site_Town %>
  </p>

  <p>
    <strong>Site street:</strong>
    <%= siteid.site_Street %>
  </p>

  <p>
    <strong>Site nstreet:</strong>
    <%= siteid.site_NStreet %>
  </p>

  <p>
    <strong>Site postal:</strong>
    <%= siteid.site_Postal %>
  </p>

</div>
