<p style="color: green"><%= notice %></p>

<%= render @siteid %>

<div>
  <%= link_to "Edit this siteid", edit_siteid_path(@siteid) %> |
  <%= link_to "Back to siteids", siteids_path %>

  <%= button_to "Destroy this siteid", @siteid, method: :delete %>
</div>
