
<div <%= build_attributes(css: "app-wrapper", data: { controller: "app" }) %>>
  <aside class="app-sidebar navbar-expand-md" id="app-sidebar">

    <header class="app-sidebar-header">
      <button class="navbar-toggler" type="button" aria-controls="app-sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="app-sidebar-title" href="/admin">
        <span class="title-large"> <%= title %> </span>
        <span class="title-small"> <%= env %> </span>
      </a>
    </header>

    <div class="app-sidebar-inner">
      <nav class="app-nav">
        <%= build_menu %>
      </nav>
      <button class="toggle-sidebar">
        <span class="sr-only"><%= t("Toggle sidebar") %> </span>
      </button>
    </div>

  </aside>

  <div class="app-container">
    <header class="app-header">
      <div class="userbox dropdown">
        <a data-toggle="dropdown" href="#">
          <span class="name dropdown-toggle">
            <strong>
            </strong>
          </span>
          <div class="avatar">
            <img src="https://www.gravatar.com/avatar/7c4ff521986b4ff8d29440beec01972d.png?d=mp" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <%= build link(
              url: user_path(current_user), 
              text: t("My account"), 
              css: "dropdown-item"
            ) %>
          </li>
          <li>
            <%= build link(
              url: destroy_user_session_path, 
              text: t("Logout"), 
              method: :delete,
              css: "dropdown-item"
            ) %>
          </li>
        </ul>
      </div>
    </header>

    <%= content %>

    <footer class="app-footer"> 
      NTN-Transmission Europe (Manuel Carrilho, manuel.carrilho@ntn-europe.fr)
    </footer>
  </div>
</div>

