<div id="<%= dom_id empid %>">
  <p>
    <strong>Emp:</strong>
    <%= empid.emp_id %>
  </p>

  <p>
    <strong>Emp mat:</strong>
    <%= empid.emp_mat %>
  </p>

  <p>
    <strong>Emp mat hr:</strong>
    <%= empid.emp_mat_hr %>
  </p>

  <p>
    <strong>Emp fn:</strong>
    <%= empid.emp_fn %>
  </p>

  <p>
    <strong>Emp ln:</strong>
    <%= empid.emp_ln %>
  </p>

  <p>
    <strong>Emp cn:</strong>
    <%= empid.emp_cn %>
  </p>

  <p>
    <strong>Emp function:</strong>
    <%= empid.emp_function %>
  </p>

  <p>
    <strong>Emp status:</strong>
    <%= empid.emp_status %>
  </p>

  <p>
    <strong>Emp pole:</strong>
    <%= empid.emp_pole %>
  </p>

  <p>
    <strong>Emp service:</strong>
    <%= empid.emp_service %>
  </p>

  <p>
    <strong>Emp grp:</strong>
    <%= empid.emp_grp %>
  </p>

  <p>
    <strong>Emp pi:</strong>
    <%= empid.emp_pi_id %>
  </p>

  <p>
    <strong>Emp m1:</strong>
    <%= empid.emp_m1 %>
  </p>

  <p>
    <strong>Emp m2:</strong>
    <%= empid.emp_m2 %>
  </p>

  <p>
    <strong>Emp m3:</strong>
    <%= empid.emp_m3 %>
  </p>

  <p>
    <strong>Emp m4:</strong>
    <%= empid.emp_m4 %>
  </p>

  <p>
    <strong>Emp m5:</strong>
    <%= empid.emp_m5 %>
  </p>

</div>
