<div id="<%= dom_id empid %>">
  <p>
    <strong>Emp id:</strong>
    <%= empid.emp_ID %>
  </p>

  <p>
    <strong>Emp siteid:</strong>
    <%= empid.emp_SITEID %>
  </p>

  <p>
    <strong>Emp fname:</strong>
    <%= empid.emp_FName %>
  </p>

  <p>
    <strong>Emp lname:</strong>
    <%= empid.emp_LName %>
  </p>

  <p>
    <strong>Emp cname:</strong>
    <%= empid.emp_CName %>
  </p>

  <p>
    <strong>Emp mat:</strong>
    <%= empid.emp_Mat %>
  </p>

  <p>
    <strong>Emp mathr:</strong>
    <%= empid.emp_MatHR %>
  </p>

  <p>
    <strong>Emp department:</strong>
    <%= empid.emp_Department %>
  </p>

  <p>
    <strong>Emp service:</strong>
    <%= empid.emp_Service %>
  </p>

  <p>
    <strong>Emp m1:</strong>
    <%= empid.emp_M1 %>
  </p>

  <p>
    <strong>Emp pi id:</strong>
    <%= empid.emp_PI_ID %>
  </p>

</div>
