<%= form_with(model: empid) do |form| %>
  <% if empid.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(empid.errors.count, "error") %> prohibited this empid from being saved:</h2>

      <ul>
        <% empid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :emp_ID, style: "display: block" %>
    <%= form.number_field :emp_ID %>
  </div>

  <div>
    <%= form.label :emp_SITEID, style: "display: block" %>
    <%= form.number_field :emp_SITEID %>
  </div>

  <div>
    <%= form.label :emp_FName, style: "display: block" %>
    <%= form.text_area :emp_FName %>
  </div>

  <div>
    <%= form.label :emp_LName, style: "display: block" %>
    <%= form.text_area :emp_LName %>
  </div>

  <div>
    <%= form.label :emp_CName, style: "display: block" %>
    <%= form.text_area :emp_CName %>
  </div>

  <div>
    <%= form.label :emp_Mat, style: "display: block" %>
    <%= form.text_area :emp_Mat %>
  </div>

  <div>
    <%= form.label :emp_MatHR, style: "display: block" %>
    <%= form.number_field :emp_MatHR %>
  </div>

  <div>
    <%= form.label :emp_Department, style: "display: block" %>
    <%= form.text_area :emp_Department %>
  </div>

  <div>
    <%= form.label :emp_Service, style: "display: block" %>
    <%= form.text_area :emp_Service %>
  </div>

  <div>
    <%= form.label :emp_M1, style: "display: block" %>
    <%= form.text_area :emp_M1 %>
  </div>

  <div>
    <%= form.label :emp_PI_ID, style: "display: block" %>
    <%= form.number_field :emp_PI_ID %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
