<div id="<%= dom_id permission %>">
  <p>
    <strong>App name:</strong>
    <%= permission.app_name %>
  </p>

  <p>
    <strong>App connect:</strong>
    <%= permission.app_connect %>
  </p>

  <p>
    <strong>App listing:</strong>
    <%= permission.app_listing %>
  </p>

  <p>
    <strong>App read:</strong>
    <%= permission.app_read %>
  </p>

  <p>
    <strong>Apps modify:</strong>
    <%= permission.apps_modify %>
  </p>

  <p>
    <strong>App context:</strong>
    <%= permission.app_context %>
  </p>

</div>
