<div id="<%= dom_id api %>">
  <p>
    <strong>Api mat:</strong>
    <%= api.api_mat %>
  </p>

  <p>
    <strong>Api m1:</strong>
    <%= api.api_M1 %>
  </p>

  <p>
    <strong>Api obj1:</strong>
    <%= api.api_Obj1 %>
  </p>

  <p>
    <strong>Api obj2:</strong>
    <%= api.api_Obj2 %>
  </p>

  <p>
    <strong>Api obj3:</strong>
    <%= api.api_Obj3 %>
  </p>

</div>
