<%= form_with(model: api) do |form| %>
  <% if api.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(api.errors.count, "error") %> prohibited this api from being saved:</h2>

      <ul>
        <% api.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :api_mat, style: "display: block" %>
    <%= form.number_field :api_mat %>
  </div>

  <div>
    <%= form.label :api_M1, style: "display: block" %>
    <%= form.number_field :api_M1 %>
  </div>

  <div>
    <%= form.label :api_Obj1, style: "display: block" %>
    <%= form.text_area :api_Obj1 %>
  </div>

  <div>
    <%= form.label :api_Obj2, style: "display: block" %>
    <%= form.text_area :api_Obj2 %>
  </div>

  <div>
    <%= form.label :api_Obj3, style: "display: block" %>
    <%= form.text_area :api_Obj3 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
