<div id="<%= dom_id ntnsiteid %>">
  <p>
    <strong>Site id:</strong>
    <%= ntnsiteid.site_ID %>
  </p>

  <p>
    <strong>Site region:</strong>
    <%= ntnsiteid.site_Region %>
  </p>

  <p>
    <strong>Site country:</strong>
    <%= ntnsiteid.site_Country %>
  </p>

  <p>
    <strong>Site town:</strong>
    <%= ntnsiteid.site_Town %>
  </p>

  <p>
    <strong>Site street:</strong>
    <%= ntnsiteid.site_Street %>
  </p>

  <p>
    <strong>Site nstreet:</strong>
    <%= ntnsiteid.site_NStreet %>
  </p>

  <p>
    <strong>Site postal:</strong>
    <%= ntnsiteid.site_Postal %>
  </p>

</div>
