<p style="color: green"><%= notice %></p>

<%= render @ntnsiteid %>

<div>
  <%= link_to "Edit this ntnsiteid", edit_ntnsiteid_path(@ntnsiteid) %> |
  <%= link_to "Back to ntnsiteids", ntnsiteids_path %>

  <%= button_to "Destroy this ntnsiteid", @ntnsiteid, method: :delete %>
</div>
