
<!DOCTYPE html>
<html>
  <head>
    <title>NTN - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-cache">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel='stylesheet' url='https://css.gg/css'>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

  <%= build app_loader %>
  
  <%= 
    build app(
      title: "NTN - Admin",
      env: "NTN",
      menu: [
        {
          group: t("Entretiens"),
          items: [
            {
              url: build_model_url(Reviews::Review, index: true),
              icon: "fa fa-tachometer",
              content: t("Entretiens"),
            },
            {
              url: build_model_url(Reviews::ReviewTemplate, index: true),
              icon: "fa fa-tachometer",
              content: t("Modèles d'entretien"),
            },
            {
              url: build_model_url(Reviews::ReviewPeriod, index: true),
              icon: "fa fa-tachometer",
              content: t("Campagne d'entretien"),
            },
          ]
        },
        {
          group: t("Configuration"),
          items: [
            {
              url: build_model_url(Employee, index: true),
              icon: "fa fa-key",
              content: t("Employés"),
            },
            {
              url: build_model_url(User, index: true),
              icon: "fa fa-user-lock",
              content: t("Utilisateurs"),
            },
          ]
        }
      ],
    ) do 
      yield 
    end
  %>
  
  </body>
</html>