<!DOCTYPE html>
<html>
  <head>
    <title>NTN - Admin - Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel='stylesheet' url='https://css.gg/css'>

    <meta name="turbo-prefetch" content="false">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
    .login label { color: white !important; }
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
